body {
	padding-top: 60px;
}

.ng-hide {
	display: none;
}

.loader {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	width: 200px;
	height: 36px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.ramka{
	background: #FF9; /* Фоновый цвет блока */
	width:250px; /* Ширина блока */
	height: 50px; /* Высота блока */
	border:4px solid #777; /* Ширина вид и цвет рамки */
	border-radius:30px; /* Радиус скругления углов*/
	-webkit-border-radius:30px; /* Safari, Chrome */
	-moz-border-radius:30px; /* Firefox */
	box-shadow: 0 0 10px 2px #1a3457; /* Тень*/
	-webkit-box-shadow: 0 0 10px 2px #1A3457; /* Safari, Chrome */
	-moz-box-shadow: 0 0 10px 2px #1A3457; /* Firefox */
}